.GitLis {
    display: flex;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fffFFF;
    margin: 0 auto;
    border-radius:20px ;
}

.GitLis ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}


.GitLis li{
    margin-top: 40px;
    margin-right: 10px;
    padding: 20px;
    background: #F4F6FA;
    
}



.GitLis a{
    text-decoration: none;
}